<section>
    <h2>distutils</h2>

    <section>
        <li class="fragment">Tworzenie pakietu
            <pre class="code">
                <code>$ python setup.py sdist</code>
            </pre>
            </li>
            <li class="fragment">Instalacja pakietu
            <pre class="code">
                <code>$ python setup.py install</code>
            </pre>
        </li>
        <aside class="notes">
            <li>Jest to pierwsze podejście do dystrybucji pakietów</li>
            <li>Wprowadza plik setup.py</li>
            <li>setup.py może zawierać listę zależności, jednak nic z nią nie robi</li>
            <li>Brak globalnego repozytorium pakietów</li>
        </aside>
    </section>

    <section style="text-align: left">
        <p>
            <ul><h6>Zalety</h6>
                <li>Instaluje pakiety</li>
                <li>Pozwala zdefiniować listę zależności</li>
            </ul>
        </p>
        <p>
            <ul class="fragment"><h6>Wady</h6>
                <li class="fragment">Nie instaluje zależności</li>
                <li class="fragment">Nie można usunąć pakietu</li>
                <li class="fragment">Nie można wyświetlić listy zainstalowanych pakietów</li>
            </ul>
        </p>
    </section>

   
</section>
