<section>
    <h2>Instalacja pakietów</h2>

    <ul>
        <li class="fragment">distutils</li>
        <li class="fragment">setuptools</li>
        <ul>
            <li class="fragment">easy_install</li>
            <li class="fragment">pip</li>
        </ul>
        <li class="fragment">egg</li>
        <li class="fragment">wheel</li>
    </ul>

    <aside class="notes">
        <li>Co powinien potrafić dobry instalator pakietów?</li>
        <li>Po pierwsze, powinien umieć zainstalować pakiet w wersji, w której chcemy</li>
        <li>Dobrze by było jakby umiał go też usunać, jak również wyświetlić listę aktualnie zainstalowanych pakietów</li>
        <li>W Pythonie powstało stosunkowo dużo narzędzi, pozwalających na lepsze, lub gorsze zarządzanie pakietami</li>
    </aside>
</section>


