<section>
    <h3>Zarządzanie pakietami w Pythonie</h3>

    <p>
        <small>Artur Smęt <br><a href="mailto:kontakt@artursmet.com">kontakt@artursmet.com</a></small>
    </p>
</section>

<section>
    <h1>Agenda</h1>

    <ol>
        <li class="fragment stretch">Od distutils to setuptools</li>
        <li class="fragment stretch">Rodzaje pakietów (egg vs wheel)</li>
        <li class="fragment stretch">Publikacja pakietu na PyPI</li>
    </ol>
    <aside class="notes">
        <li>Na poczatku opowiem o tym, jak ewoluował system instalacji pakietów w Pythonie</li>
        <li>Następnie porównam obecnie dostępne formaty pakietów</li>
        <li>Opowiem również jak przygotować swój pakiet do publikacji na PyPI</li>
    </aside>
</section>
