<section>
    <h3>Zarządzanie pakietami w Pythonie</h3>

    <p>
        <small>Artur Smęt <a href="mailto:kontakt@artursmet.com">kontakt@artursmet.com</a></small>
    </p>
</section>

<section>
    <h1>Agenda</h1>

    <ol>
        <li class="fragment stretch">Sposoby instacji pakietów</li>
        <li class="fragment stretch">Rodzaje pakietów (egg vs wheel)</li>
        <li class="fragment stretch">setup.py bez tajemnic</li>
        <li class="fragment stretch">Publikacja pakietu na PyPI</li>
    </ol>
    <aside class="notes">
        <li>Na początek opowiem o sposobach instalacji pakietów w pythonie, omówię rodzaje pakietów. Później skupię się na tym jak działa PyPI oraz jak opublikować tam własny pakiet</li>
    </aside>
</section>
