<section>
    <h2>setuptools (easy_install)</h2>
    <section>
    <p>Instalacja pakietu
        <pre class="code">
            <code data-trim>
                $ easy_install foo
            </code>
        </pre>
    </p>
    </section>
    <section>
        <pre class="code">
            <code data-trim>
                {% include snippets/easy_install.txt %}
            </code>
        </pre>
    </section>
    <section style="text-align: left">
        <p>
            <ul>
                <li>Używa repozytorium pakietów PyPI</li>
                <li>Obsługuje pakiety egg</li>
            </ul>
        </p>
        <p>
            <ul>
                <li>Nie można usunać pakietu</li>
            </ul>
        </p>
    </section>
</section>

